/* body {
    background-color: #212121;
    color: #fff;
  }
.clock{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
*/

body {
    background-color: #212121;
    color: #fff;
 }

 .clock {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #time{
    font-size: 40px;
        background-color: orange;
        padding: 20px 50px;
        margin-top: 10px;
        border-radius: 10px;
    
} 